.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 100; */
    border-bottom: 1px solid rgba(255, 0, 0, 0.089);
}

.header_log{
    object-fit: contain;
    height:60px
}
.header_icon{
    padding: 20px;
}
